NEXT_PUBLIC_SANITY_PROJECT_ID=your_project_id
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-01-01
SANITY_API_TOKEN=sk0x9QQNodTWuiPFuQpyj1Anm67GEKdc5ckKobLNWfVeRslkG8SjnfP9T7yHwH1bGZXVUKsGH61iYk7nD7Pa6bhWGql3QOtCo3Uew9KFdYrMWG6JWTN35s90j7U3VTElWt1cKO3Rpmj1Yy4OG02Q6emQinRR0gmiBbHjGynyy6EG4YYZy1WD
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_...
STRIPE_SECRET_KEY=sk_live_...
NEXT_PUBLIC_SITE_URL=https://greenstonepeptides.com
